<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="font.css">
        
    </head>
    <body>
        <video autoplay muted loop id="bg-video-desktop">
            <source src="/assets/backgroundVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <video autoplay muted loop id="bg-video-mobile">
            <source src="/assets/mobile-video-bg.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="crusades header">
            <img src="/assets/fantasyLogo.png" alt="fantasyLogo" width="150px" height="auto">
            <h1 class="bloom-animated">WARRIOR CATAGORIES</h1>
        </div>
        <div class="catagory crusades bloom-animated">
            <ul class="catagory">
                <li class="menu"><a href="/catagory/common">Common</a></li>
                <li class="menu"><a href="/catagory/special">Special</a></li>
                <li class="menu"><a href="/catagory/rare">Rare</a></li>
                <li class="menu"><a href="/catagory/epic">Epic</a></li>
                <li class="menu"><a href="/catagory/legendary">Legendary</a></li>
                <li class="menu"><a href="/catagory/mythical">Mythical</a></li>
            </ul>
        </div>
    </body>
</html>