<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="font.css">
        
    </head>
    <body>
        <video autoplay muted loop id="bg-video-desktop">
            <source src="/assets/backgroundVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <video autoplay muted loop id="bg-video-mobile">
            <source src="/assets/mobile-video-bg.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="crusades header">
            <img src="/assets/fantasyLogo.png" alt="fantasyLogo" width="150px" height="auto">
            <h1 class="bloom-animated">FANTASY WARRIOR INVENTORY</h1>
        </div>
        <div class="content crusades bloom-animated">
            <ul>
                <li class="menu"><a href="/all">All Warriors</a></li>
                <li class="menu"><a href="/create">Craft Warrior</a></li>
                <li class="menu"><a href="/catagory">View Catagory</a></li>
            </ul>
        </div>
    </body>
</html>